[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=console

# A comment which can/will be used as a tooltip
Comment=Drop down console like within quake

# The path to the folder in which the executable is run
Path=/home/frosch03

# The executable of the application, possibly with arguments.
# ... keep in mind, the name capture must match the functions defined within emacs config
Exec=alacritty --option "window.opacity=0.85" --option "window.padding.x=15" --option "window.padding.y=15" --class "dropdown console"

# The name of the icon that will be used to display this entry
# Icon=jmemorize

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Configuring;