[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Signal Desktop

# A comment which can/will be used as a tooltip
Comment=Chat via Signal

# The executable of the application, possibly with arguments.
Exec=/bin/sh -c "$HOME/.nix-profile/bin/signal-desktop"

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Work;Planning;Web;